@font-face {
  font-family: 'NanumSquareR';
  src: url('/fonts/NanumSquareR.otf') format('opentype'),
       url('/fonts/NanumSquareR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

